// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

html{
    height: 100%;
    margin:0;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Asap", sans-serif;
    background-color: #fdfdfe;
}
nav.navbar{
    height: auto;
    background-color: white !important;
    align-items: center !important;
}

h1{
    font-size: 3em !important;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
        0px 0px 20px #b393d3;
}

nav.navbar h1{
    margin-top: 0.2em;
}

#tituloPortada{
    font-size: 10em !important;
}

h2{
  font-size: 3em !important;
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h3{
  color:#22252C;
}

.flex-container{
    bottom: 0;
    position: absolute;
    height: 12em;
    width: 100%;
}

.flex-container a{
    text-decoration: none;
}

.flex-container i{
    color:#22252c;
    margin: 0 0.2em;
}

.flex-container div:hover{
    background-color: #22252C;
}
.flex-container i:hover{
    color: white;
}
.flex-container {
    margin:auto;
    display: flex;
    justify-content: center;   
    align-items: center;
    padding: 2em;
    text-align: center;

}

.flex-container > div{
    border-radius: 5px;
    padding: 0.8em;
}

.errorHidden{
    display: none;
}

// Login

/**
 * * General variables
 * */
/**
 * * General configs
 * */
 
  
  button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
  }
  input[type=submit] {
    cursor: pointer;
  }
  input::-moz-placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  input:-ms-input-placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  input::placeholder {
    font-size: 0.85rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  
  /**
   * * Bounce to the left side
   * */
  @-webkit-keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  @keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  /**
   * * Bounce to the left side
   * */
  @-webkit-keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  @keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  /**
   * * Show Sign Up form
   * */
  @-webkit-keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  /**
   * * Page background
   * */
  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(216, 211, 211, 0.527);
    background-size: cover;
  }
  .user_options-container {
    position: relative;
    width: 80%;
  }
  .user_options-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 3px;
  }
  
  /**
   * * Registered and Unregistered user box and text
   * */
  .user_options-registered,
  .user_options-unregistered {
    width: 50%;
    padding: 75px 45px;
    color: #fff;
    font-weight: 300;
  }
  
  .user_registered-title,
  .user_unregistered-title {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
  }
  
  .user_unregistered-text,
  .user_registered-text {
    font-size: 0.83rem;
    line-height: 1.4em;
  }
  
  .user_registered-login,
  .user_unregistered-signup {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .user_registered-login:hover,
  .user_unregistered-signup:hover {
    color: rgba(34, 34, 34, 0.85);
    background-color: #ccc;
  }
  
  /**
   * * Login and signup forms
   * */
  .user_options-forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out;
  }
  .user_options-forms .user_forms-login {
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }
  .user_options-forms .forms_title {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;
  }
  .user_options-forms .forms_field:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .user_options-forms .forms_field-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
  }
  .user_options-forms .forms_field-input:focus {
    border-color: gray;
  }
  .user_options-forms .forms_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .user_options-forms .forms_buttons-forgot {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
  }
  .user_options-forms .forms_buttons-forgot:hover {
    color: #b3b3b3;
  }
  .user_options-forms .forms_buttons-action {
    background-color: #3f3250;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  .user_options-forms .forms_buttons-action:hover {
    background-color: #7e669e;
  }
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    position: absolute;
    top: 70px;
    left: 40px;
    width: calc(100% - 80px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
  }
  .user_options-forms .user_forms-signup {
    transform: translate3d(120px, 0, 0);
  }
  .user_options-forms .user_forms-signup .forms_buttons {
    justify-content: flex-end;
  }
  .user_options-forms .user_forms-login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  
  /**
   * * Triggers
   * */
  .user_options-forms.bounceLeft {
    -webkit-animation: bounceLeft 1s forwards;
            animation: bounceLeft 1s forwards;
  }
  .user_options-forms.bounceLeft .user_forms-signup {
    -webkit-animation: showSignUp 1s forwards;
            animation: showSignUp 1s forwards;
  }
  .user_options-forms.bounceLeft .user_forms-login {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
  .user_options-forms.bounceRight {
    -webkit-animation: bounceRight 1s forwards;
            animation: bounceRight 1s forwards;
  }
  
  /**
   * * Responsive 990px
   * */
  @media screen and (max-width: 990px) {
    .user_options-forms {
      min-height: 350px;
    }
    .user_options-forms .forms_buttons {
      flex-direction: column;
    }
    .user_options-forms .user_forms-login .forms_buttons-action {
      margin-top: 30px;
    }
    .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
      top: 40px;
    }
  
    .user_options-registered,
  .user_options-unregistered {
      padding: 50px 45px;
    }
  }

  .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }


//PLACES
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

body {
   font-family: "Montserrat", sans-serif;
}

.containerPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.containerPlace2{
  display:flex;
  justify-content: center; 
  align-items: center; 
  margin: 50px 0 50px 0;
}

.containerPlace2 form{
  width: 60em;
  height: 40em;
  padding:2em;
}

.containerPlace p{
  color:#00c2cb;
}

.art-board__container {
   margin: 18px 0 18px 0;
   width: 375px;
   height: 812px;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.containerPlace a{
  text-decoration: none;
}

.card {
  width: 295px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
  padding: 0.1em;
}

.card:hover{
    filter:brightness(110%);
}

.profImg{
    height:3.5em;
    width:3.5em;
    margin-left:5%;
    margin-top:3%;
    border-radius:50%;
    border: 2px solid rgb(226, 78, 24);
    object-fit: cover;
}

.card__image {
   position: relative;
   height: 12em;
}
.card__image > img {
   max-width: 100%;
   border-bottom-right-radius: 30px;
   position: absolute;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
  flex-wrap: wrap;
}

.starsIcons{
  display: flex;
  justify-content: space-between;
  padding: 0.01em;
}

.starsIcons i{
  color:#22252C;
}

.card__info h3 {
   font-size: 18px;
   font-weight: 700;
}
.card__info p {
   font-size: 14px;
   font-weight: 600;
}
.checked {
   color: #ffd700;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #cccccc;
   border-radius: 10px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
}
