// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

html{
    height: 100%;
    margin:0;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Asap", sans-serif;
    background-color: #fdfdfe;
}

.navbar{
    background-color: #301934;
}

h1{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2{
    color:#22252C;
}

.errorHidden{
    display: none;
}

.header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    text-align: left;
}

.cbody{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
    text-align: left;
}
.cont, .cont-fluid, .cont-xxl, .cont-xl, .cont-lg, .cont-md, .cont-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 50%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}
.derecha{
    text-align: right;
}
.img{
    width: 100%;
    text-align: center;
}
.empty{
    outline:none;
}
.text{
    text-decoration: none;
    color: black;
}
.ederecha{
    text-align: left;
    display:flex;
    justify-content: space-between;
}
.eizquierda{
    text-align: right;
    display:flex;
    justify-content: space-between;
}