// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;





html{
    height: 100%;
    margin:0;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Asap", sans-serif;
    background-color: #fdfdfe;
}

.navbar{
    background-color: #301934;
}

h1{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2{
    color:#22252C;
}

footer{
    bottom: 0;
    position: absolute;
    height: 20%;
    width: 100%;
}

footer a{
    text-decoration: none;
}

footer ul{
    list-style: none;
}

footer i{
    color:#22252c;
    margin: 0 0.2em;
}

footer .flex-container {
    margin:auto;
    display: flex;
    justify-content: center;   
    align-items: flex-end; 
    background-color: #c0b3a0;
    border-top: 3px solid #3f3250;
    border-bottom: 3px solid #3f3250;
    height: 100%;
    padding: 15px;
    gap: 5px;
    text-align: center;

}

footer .flex-container > div{
    border-radius: 5px;
    padding: 8px;
}
